.header{
    background-color: #27273e;
    color: white; 
    height: 77px;

    margin-bottom: 30px;
}

.header__container{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;    

    margin: 0 auto;
    width: 1200px;   
    
    height:77px;

    padding: 0 20px;
}

.wrapper--main .header{
    margin-bottom: 0;
}