.tarifs{
    margin-bottom: 70px;
}

.tarifs__title{
    margin-bottom: 40px;
}

.tarifs__list{
    list-style: none; 
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.tarifs__list-item{
    text-align: center;

    margin-right: 22px; 
    margin-bottom: 83px;
    
    width: 273px;
}

.tarifs__list-item:nth-child(n+2){
    margin-bottom: 0;
}

.tarifs__block{
    position: relative;
}

.tarifs__image-block{
    overflow: hidden;

    max-width: 100%;
    height: 166px;

    margin-bottom: 30px;
}

.tarifs__img{
    display: inline-block;
   
    width: 100%;
    height: 166px; 
    
    object-fit: cover;
}

.tarifs__image-block:before{
    content: "";
    position: absolute;
    display:  inline-block;

    min-width: 100%;
    min-height: 100%;

    background-color: #27273e;
    opacity: 0.85;
}



.tarifs__name{
    position: absolute;
    
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

    width: 100%;
}

.tarifs__name-text, .vip{    
    font-size: 24px;
    font-weight: bold;
    
    text-transform: uppercase;
}
.tarifs__name-text{
    color: #5dd1f8;
}
.vip{
    color: #ec1e79;
}


.tarifs__price{
    font-size: 18px;
    font-weight: bold;
    color: #221f1f;

    margin-bottom: 20px;
}

.tarifs__description{
    font-size: 14px;
    font-weight: 300;
}


/* .tarifs--top */

.tarifs--top{
    text-align: center;

    border: 1px solid #e8e9ed;

    margin-bottom: 30px;
}


.tarifs--top .tarifs__header{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 50px;
}

.tarifs--top .tarifs__name{
    position: relative;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    letter-spacing: 2.6px;
    margin-bottom: 28px;
}

.tarifs--top .tarifs__description{
    font-size: 18px;
    font-weight: normal;
    color: black;
}

.tarifs--top .tarifs__list{
    margin-bottom: 30px;
}

.tarifs--top .tarifs__list-item{
    text-align: left;
    margin: 0 auto;

    font-size: 18px;
    color: black;
}

.tarifs--top .tarifs__item-text:before{
    content:"•";
    display: inline-block;
    color:#cc3366;

    padding: 0 28px 0 58px;
}